---
title: "Franco A. Alvarado > Projects"
layout: page
category: projects
---
<h2>INK</h2>
<h2>PIXELS</h2>
<h2>BOTH</h2>
<!-- this section will have onclicks for the h2's  above that will hide and reveal the list items below for the types of portfolio projects people might want to see ; they are defaulted to visible 
-->
{% for post in site.posts %}
  {% if post.categories contains 'projects' %}
	<div class="post">
		<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<div class="entry">
			{{ post.content | strip_html | truncatewords: 100 }}
		</div>
	</div>
  {% endif %}
{% endfor %}
