---
layout: page
title: About
permalink: /
---
<!-- {% include services.html %} -->
<article id="aboutarticle">
<!-- <h1 id="aboutme">About me</h1> -->

<p>I have always strived to be efficient, to make the little things automatic and out of the way. Whether writing Python scripts to automate tasks or planning meals weeks in advance, I always like to make more space to create.</p>
<p>I started my career in the publishing industry in the Boston area, focusing primarily on digital publishing and ebooks. From there, I began developing skills in web development and scripting.</p>
<p>I bring this experience in and passion for workflow optimization to every project I encounter. {% if site.job %}I currently work as {{site.job}}.{% endif %} Contact me via <a href="https://twitter.com/{{site.twitter_username}}"> Twitter</a>, <a href="https://linkedin.com/in/{{site.linkedin_username}}">LinkedIn</a>, or <a href="mailto:{{site.email}}?subject=I am a robot">email</a>.</p>
	<p>Learn more about my <a href="/experience">experience</a> or view <a href="#projectpane">my portfolio</a>.</p>
</article>
