---
layout: page
title: About
permalink: /
---
{% include services.html %}
<article>
<h1 id="aboutme">Hello!</h1>
<p>
	Welcome to my website. I am a publishing professional living in the Boston area. I&#8217;m a problem-solver, and I like to fix things: print books, ebooks, and websites. {% if site.available == true %} I am currently <b>available </b>to help you! {% else %} I am currently working at {{ site.job }}, but please feel free to get in touch anyway. {% endif %}
</p>
{% if site.available == true %} 
<p class="center">
	<i>Accepting new projects! Get in touch with me on <a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-github-alt"></i> Twitter</a>, <a href="https://linkedin.com/in/{{site.linkedin_username}}"><i class="fa fa-linkedin"></i> LinkedIn</a>, or using the big friendly contact button above.</i>
</p>
{% else %}
<p class="center">
	<i>Get in touch with me on Twitter, LinkedIn, or my contact page.</i>	
</p>
 {% endif %}
<p>
</p>
</article>
{% include testimonials.html %}
{% include project-pane.html %}


, 