---
layout: page
title: About
permalink: /
---
<article>
<h1 id="aboutme">Hello!</h1>
<p>
	Welcome to my website. I am a publishing professional living in the Boston area. I&#8217;m a problem-solver, and I like to fix things: print books, ebooks, and websites. {% if site.available == true %} I am currently <b>available </b>to help you! {% else %} I am currently working at {{ site.job }}, but please feel free to get in touch anyway. {% endif %}
</p>
{% if site.available == true %} 
<p class="center">
	<i>Accepting new projects. Services I provide include:</i>
</p>
{% else %}
<p class="center">
	Areas of expertise include:	
</p>
 {% endif %}
	<ul>
		<li>Print book design</li>
		<li>Fixed layout and reflowable ebooks</li>
		<li>Website design and development with Wordpress and static websites</li>
		<li>Workflow consultation</li>
	</ul>
<p>
	Feel free to explore my site and get in touch.
</p>
</article>
{% include testimonials.html %}
{% include projects-pane.html %}