
<aside class="bio">
	<h2>{{author.name}} {% if author.twitter_username %}
		    | <a href="https://twitter.com/{{ author.twitter_username }}">
		      <i class="fa fa-twitter"></i> 
		    </a>
		{% endif %}
		{% if author.github_username %}
		    | <a href="https://github.com/{{ author.github_username }}">
		      <i class="fa fa-github"></i> 
		    </a>
		{% endif %}
		{% if author.linkedin_username %}
		    | <a href="https://linkedin.com/in/{{ author.linkedin_username }}">
		      <i class="fa fa-linkedin"></i> 
		    </a>
		{% endif %}</h2>
	<p>{{author.bio}}</p>
</aside>