<div id="form-container">
<h1>Keep in touch!</h1>
<form method="POST" action="http://formspree.io/franco.faa@gmail.com">
	<input type="text" name="_replyto" placeholder="Your email" />
	<textarea name="message" placeholder="Your message"></textarea>
	<input type="text" name="_gotcha" style="display:none;" />
	<input type="hidden" name="_next" value="/thanks.html" /> <!-- This is for a custom thank you for submitting form web page ; create one and have a linkback -->
	<button class="formbutton" type="submit">Send</button>
</form>
</div>