<footer>
	<p class="copyright">Site built by {{site.copyright}} &copy; {{ site.time | date: '%Y'}}. Site version {{site.version}}.
		    | <a href="https://github.com/francofaa">
		      <i class="fa fa-github-alt"  aria-hidden="true"></i> Github
		    </a>
		    | <a href="https://linkedin.com/in/{{site.linkedin_username}}">
		      <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
		    </a>
			| <a href="https://www.francoalvarado.com">
				<i class="fa fa-pencil" aria-hidden="true"></i> Writing site
		    </a>
		    | <a href="https://www.root-devil.com">
		    	<i class="fa fa-book" aria-hidden="true"></i> TTRPG site</a>
		</p>
</footer>
