<footer>
	<p class="copyright">&copy; Franco A. Alvarado {{ site.time | date: '%Y'}}. 
		<!--<a href="">Blog</a>-->
		{% if site.twitter_username %}
	 | <a href="https://twitter.com/NoFrancosPlease">
		      <i class="fa fa-twitter"></i> 
		    </a>
		{% endif %}
		{% if site.github_username %}
		    | <a href="https://github.com/francofaa">
		      <i class="fa fa-github"></i> 
		    </a>
		{% endif %}
		{% if site.linkedin_username %}
		    | <a href="https://linkedin.com/in/franco-alvarado-17959124">
		      <i class="fa fa-linkedin"></i> 
		    </a>
		{% endif %} </p>
</footer>