<nav class="topnav">
	<div id="logo">
		<a href="/">
			<img src="/img/franco-image.jpg" alt="" />
			<div class="logo-overlay"></div>
		</a>
	</div>
	<input type="checkbox" id="show-menu" role="button">
	<label for="show-menu" class="show-menu"><i class="fa fa-navicon" aria-hidden="true"></i> Menu</label>
	<ul id="menu">
		<li id="name"> <span data-title="">{{ site.title }}</span></a></li>
		<li id="contactme"><i class="fa fa-comments" aria-hidden="true"></i><span data-title="Contact Me"> Contact Me</span></li>
		<li><a href="/experience"><i class="fa fa-cubes" aria-hidden="true"></i><span data-title="Experience"> Experience</span></a></li>
		<li><a href="/#services"><i class="fa fa-handshake-o" aria-hidden="true"></i><span data-title="Services"> Services</span></a></li>
		<li><a href="/#projectpane"><i class="fa fa-archive" aria-hidden="true"></i><span data-title="Projects"> Portfolio</span></a></li>		
	</ul>
</nav>