<nav class="topnav">
	<!--<div class="button-group">-->
	<label for="show-menu" class="show-menu">Show Menu</label>
	<input type="checkbox" id="show-menu" role="button">
	<ul>
		<li>
			<a href="/index.html">About Me</a>
		</li>
		<li>
			<a href="/projects">Projects</a>
		</li>
		<li>
			<a href="/experience">Experience</a>
		</li>
	</ul>
		
		<!--<button class="left-btn" type="button"></button>
		<button class="mid-btn" type="button"></button>
		<button class="mid-btn" type="button"></button>
		<button class="right-btn" type="button"></button>
	</div>-->
</nav>