<div class="PageNavigation">
{% for post in site.categories.projects %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for post in site.categories.projects %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
        {% endif %}
    {% endfor %}
    
  {% if next_post %}
   <a class="next" href="{{next_post}}"><button class="right-btn"> {{next_post.project_name}} &raquo;</button></a>
  {% endif %}

  {% if next_post %}
    <a class="prev" href="{{prev_post}}"><button class="left-btn">&laquo; {{prev_post.project_name}}</button></a>
  {% endif %}

</div>