<div class="widgetbox" id="services">
  <div class="widget">
    <p class="icon">
<i class="fa fa-desktop" aria-hidden="true"></i> <i class="fa fa-laptop" aria-hidden="true"></i>
 <i class="fa fa-mobile" aria-hidden="true"></i></p>
    <h3>Websites</h3>
    <p>I build responsive sites that will fit any device, from WordPress sites to static pages.</p>
  </div>
  <div class="widget">
    <p class="icon"><i class="fa fa-book" aria-hidden="true"></i></p>
    <h3>Print Books</h3>
    <p>I design and lay out print books.</p>
  </div>
  <div class="widget">
    <p class="icon"><i class="fa fa-tablet" aria-hidden="true"></i></p>
    <h3>Ebooks</h3>
    <p>I transform print books into ebooks. Fixed-Layout, enhancements, or reflowable.</p>
  </div>
</div>