<div class="container marketing"  id="pp">

      <!-- Three columns of text below the carousel -->
      <div class="row marginbottom paddingtop bottomdash">
        <div class="col-lg-3 widget-bg">
         <a href="#s"> <img class="img-circle" src="img/noun_69911_cc.png" alt="sentence" style="width: 140px; height: 140px;"></a>
          <h2 class="BM-B">Sentences</h2>
          <p class="caption">I edit at various stages in the writing process, first draft to final manuscript.</p>
          <p class="button1"><a class="btn btn-default" href="#s" role="button">Editorial &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 widget-bg">
   <a href="#p">       <img class="img-circle" src="img/noun_43317_cc.png" alt="golden ratio" style="width: 140px; height: 140px;"></a>
          <h2 class="BM-B">Pages</h2>
          <p class="caption">I design and lay out pages to be both well-structured and beautiful.</p>
          <p class="button1"><a class="btn btn-default" href="#p" role="button">Design &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 widget-bg">
   <a href="#b">       <img class="img-circle" src="img/noun_29556_cc.png" alt="print books and ebooks, BFFs" style="width: 140px; height: 140px;"></a>
          <h2 class="BM-B">Books</h2>
          <p class="caption">I build printer-ready books and reader-ready ebooks.</p>
          <p class="button1"><a class="btn btn-default" href="#b" role="button">Production &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
         <div class="col-lg-3 widget-bg">
   <a href="#w">       <img class="img-circle" src="img/noun_47527_cc.png" alt="workflow!" style="width: 140px; height: 140px;"></a>
          <h2 class="BM-B">Workflows</h2>
          <p class="caption">I create solutions.</p>
          <p class="button1"><a class="btn btn-default" href="#w" role="button">Workflow Consultation &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
</div>
