<h1 id="services">
	Services
</h1>
	<div class="service-box-layer">
		<div class="service-box">
			<h4>Websites</h4>
			<p>Something about websites </p>
		</div>
	</div>
	<div class="service-box-layer">
		<div class="service-box">
			<h4>Ebook development and QA</h4>
			<p>Something about ebook dev and QA</p>
		</div>
	</div>
	<div class="service-box-layer">
		<div class="service-box">
			<h4>Publishing</h4>
			<p>something general about publishing</p>
		</div>
	</div>
	<div class="service-box-layer">
		<div class="service-box">
			<h4>Print Layout and Design</h4>
			<p>someting about print books and pages and stuff</p>
		</div>
	</div>
	<div class="service-box-layer">
		<div class="service-box">
			<h4>Workflow Consultation</h4>
			<p>something about work flow consultation</p>
		</div>
	</div>
	<div class="service-box-layer">
		<div class="service-box">
			<h4>Editing</h4>
			<p>stuff about editorial</p>
		</div>
	</div>
