footer {
	/*float: right;*/
    /* position: relative; */
    color: $charcoal;
    text-align: left;
    width: 100%;
    .copyright {
		padding-left: 1em;
    }
    .social {
    	padding-left: 1em;
    	a {
    		font-style: italic;
    	}
    }
}
