/*
@media (max-width: 1150px){
	main {
		@include columns(1, auto, auto, all);
	}
}
@media (max-height: 500px){
	main {
		@include columns(1, auto, auto, all);
	}
}
*/


@media(max-width: 1026px) {
.post-group {
  min-height: 500px;
  text-align: center;
 -webkit-column-count: 1;
  column-count: 1;
  -moz-column-count: 1;
  column-gap: 5px;
  position: auto;
  overflow: auto;
  box-sizing: border-box;
  font-size: 1em;
}
}

@media screen and (max-width : 800px){
  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }
  article {
    margin: 0 auto;
    max-width: 100%;}

/*Display 'show menu' link*/
  .show-menu {
    display:block;
  }

}

@media only screen and (max-width: 580px) {
    div#form-container{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}