/*
@media (max-width: 1150px){
	main {
		@include columns(1, auto, auto, all);
	}
}
@media (max-height: 500px){
	main {
		@include columns(1, auto, auto, all);
	}
}
*/


@media screen and (max-width: 1026px) {
.post-group {
  min-height: 500px;
  text-align: center;
 -webkit-column-count: 1;
  column-count: 1;
  -moz-column-count: 1;
  column-gap: 5px;
  position: auto;
  overflow: auto;
  box-sizing: border-box;
  font-size: 1em;
}
}

@media screen and (max-width: 800px) {
  /*Make dropdown links appear inline*/
  div#logo {
    display: none;
  }
  nav.topnav {
  ul#menu {
    position: static;
    display: none;
    margin: 0;
  }
  /*Create vertical spacing*/
  ul#menu li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul#menu li, li a {
    width: 100%;
  }
  .show-menu {
    display:block;
    }
}
  article {
    margin: 0 5%;
    max-width: 100%;}

}

@media screen and (max-width: 580px) {
    div#form-container{
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
        z-index: 200;
        margin-top: 0;
    }
      button.left-btn, button.right-btn {
      font-size: 1em;
    }
}