nav.topnav {  
	@extend .boxshadow;
	z-index: 150;
	text-shadow: $shadow;
	width: 100%;
	position: fixed;
	height: 90px;
	background-color: $charcoal;
	div#logo {
		@extend .boxshadow;
		@include gradient(20deg, $complementcolor, $maincolor);
		float: right;
		padding: 0.4em 0.65em;
		font-family: $stack-logo;
		font-size: 2.25em;
		color: $offwhite;
		animation: iconpulse 10s infinite;
		margin: 0.25em 0.35em;
		border-radius: 50px;
		-moz-border-radius: 50px;
   		-webkit-border-radius: 50px;
	}
	ul#menu {
		list-style-type:none;
		/* margin:0; */
		padding:0;
		position: absolute;
		li {
			display:inline-block;
			float: left;
			margin-right: 1px;
			}
		a, li#contactme {
			display:block;
			min-width:140px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			font-family: $stack-ss;
			color: $offwhite;
			background: $charcoal;
			text-decoration: none;
				&:hover {
				background: $maincolor;
				}
			}
		li#contactme {
			-webkit-user-select: none; /* Chrome/Safari */        
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; 
			background-color: $selectcolor;
			cursor: pointer;
			&:hover {
				background: light($selectcolor, 20%);
			}
		}
}

/*Style for dropdown links*/
li:hover ul#menu a {
	background: $offwhite;
	color: $charcoal;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul#menu a:hover {
	background: lighten($maincolor, 20%);
	color: $offwhite;

}
}

nav.topnav-scrolled {
		position: fixed;
  		width: 100%;
  		top: 0;
	}



.show-menu {
    font-family: $stack-ss;
    text-decoration: none;
    color: $offwhite;
    background: $complementcolor;
    text-align: center;
    padding: 2.2em 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@keyframes iconpulse {
  0% {
    color: #fd8282;
  }
  10% {
    color: #fdfc82;
  }
  25%{
   color: #82fd8c;
  }
  50% {
   color: #af9eff;
  }
  75% {
   color: #e782fd;
  }
  85% {
   color: #82defd;    
  }
  100% {
   color: #fd8282;
  }
}