nav.topnav {  
	z-index: 150;
	@extend .boxshadow;
	width: 100%;
	position: fixed;
	height: 50px;
	background-color: $charcoal;
	/*margin-bottom: -80px;*/
	div.button-group {
		vertical-align: middle;
		text-align: center;
		button {
			text-align: center;
			margin-top: 0.15em;
			margin-left: -1px;
			margin-right: -1px;
		}
		button.left-btn {
			@include button($bg-color, 6px, 0px, 0px, 6px);
		}
		// tl tr br bl
		button.right-btn {
			@include button($bg-color, 0px, 6px, 6px, 0px);
		}
		button.mid-btn {
			@include button($bg-color, 0px, 0px, 0px, 0px);
		}
	}
}
nav.topnav-scrolled {
		position: fixed;
  		width: 100%;
  		top: 0;
	}


nav.topnav {
	ul {
	list-style-type:none;
	margin:0 auto;
	padding:0;
	position: fixed;
		li {
		display:inline-block;
		float: left;
		margin-right: 1px;
			}
			a {
				display:block;
				min-width:140px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: $offwhite;
				background: $charcoal;
				text-decoration: none;
			}
	}
	li:hover a {
	background: $primary-color;
}

/*Style for dropdown links*/
li:hover ul a {
	background: $offwhite;
	color: $charcoal;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: $primary-color;
	color: $offwhite;
}
}

.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}