/* textures */
$paper: url(../img/back.png);

/* colors */
$charcoal: #2f3036;
$offwhite: #f3f3f3;

$link-color: #6699cc;
$selection-color: #FFF498;

$button-color: #8DA0BD;
$button-border: #2e6da4;

/* fonts */
$stack-ss: 'Open Sans', Helvetica, sans-serif;
$stack-serif: 'Vollkorn', Athelas, Georgia, serif;
$stack-logo: 'Macondo Swash Caps', $stack-ss;

/* borders */
$border-color: #b4b0b0;
$standard-border: solid 2px;

/* shadows */
$shadow: 0 1px 0 $border-color;