$primary-color: #69C;
$text-color: #2E2D33;
$accent-color: #8DA0BD;
$bg-color: #F6F6F8;
$link-color: #337ab7;
$selection-color: #FFF498;
$border-color: #FF6E25;
$stack-ss: 'Marta', Helvetica, sans-serif;
$stack-serif: Athelas, Georgia, serif;
$shadow: 0 1px 0 rgba(204,204,204,1);
$standard-border: dotted 3px;
$button-color: #337ab7;
$button-border: #2e6da4;