/* textures */
$paper: url(../img/back.png);

/* black and white */
$charcoal: #2f3036;
$offwhite: #f3f3f3;
$gray: mix($charcoal, $offwhite);

/* colors */

$link-color: #ffbb3a;
$selection-color: adjust-hue($link-color, 20deg);

$button-color: complement($link-color);
$button-border: darken($button-color, 20%);

/* fonts */
$stack-ss: 'Open Sans', Helvetica, sans-serif;
$stack-serif: 'Vollkorn', Athelas, Georgia, serif;
$stack-logo: 'Macondo Swash Caps', $stack-ss;
$stack-mono: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;

/* borders */
$border-color: grayscale($link-color);
$standard-border: solid 2px;

/* shadows */
$shadow: 0 1px 0 $border-color;