---
layout: default
title: Franco Alvablogdo
category: blog
---
<header role="banner" class="site-header">
	<h1>
		Franco Alvablogdo
	</h1>
	<p class="tag-line">
			a process blog
		</p>
	<h2>Wherein I write about developing projects</h2>
</header>

<div id="projectpane">
  <div class="post-group">
    {% for post in site.posts %}
      {% if post.roll contains 'blog' %}
    <div class="post">
      <a href="{{ post.url }}">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 300 300'%2F%3E" width="300" height="300" />
    <div class="caption">
    
      <div class="caption-text">
          <h3 class="title">{{ post.title }}</h3>
          <p>{{ post.tags | sort | join: ", " }}
</p>
      </div>
    </div>
      </a>
    </div>
  {% endif %}
{% endfor %}
  </div>
</div>



<!--


<div class="post-group">
{% for post in site.posts %}
  {% if post.roll contains 'blog' %}
	<div class="post">
		<h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<p class="meta">{{ post.date | date_to_long_string }}</p>
		<div class="entry">
			{{ post.content | strip_html | truncatewords: 10 }}
		</div>
	</div>
  {% endif %}
{% endfor %}
</div>

-->