---
layout: default
---
<article class="project">
	<header>
		<h1>{{ page.title }} </h1>
		<h2>{{ page.subtitle }}</h2>
	</header>
	<section>
		<div title="role" class="info"><p>{{page.role}}</p></div>
		<div title="skills" class="info">
			<ul>
				{% for c in page.skills %}
					<li>{{c}}</li>
				{% endfor %}
			</ul>
		
		</div>
		{% if page.company  %}
			<div title="company" class="info">{{page.company}}</div>
		{% endif %}
	</section>
	<section>
		{{content}}
	</section>
</article>
{% include project-pane.html %}
